[Desktop Entry]
Type=Application
TryExec=/data/cellar/alacritty
Exec=/data/cellar/alacritty
Icon=Alacritty
Terminal=false
Categories=System;TerminalEmulator;

Name=Alacritty
GenericName=Terminal
Comment=A fast, cross-platform, OpenGL terminal emulator
StartupWMClass=Alacritty
Actions=New;

[Desktop Action New]
Name=New Terminal
Exec=/data/cellar/alacritty
